
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a, p, h1, h2, h3,h4,h5 {
    padding: 0px;
    margin: 0px;

}

h1{
    margin: 2.19vw;
    color: #f1f1f1;
}

h2 {
    font-size: 50px;
}

p{
    font-size: 18px;
}


h4{
    font-size: 1.4rem;
}

h5{
    font-size: 1.3rem;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181b;
    color: #f1f1f1;
    margin: 0 auto;
}

ul,li{
    list-style: none;
    display: flex;
    gap: 0.5625rem;
    align-items: center;
}

img{
    height: auto;
    border-radius: 50%;
    max-width: 100%;  
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #191920;
    height: 8vh;
  }
  
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  

a{
    display: flex;
    list-style: none;
    text-decoration: none;
    color: #f1f1f1;
    margin: 1.8519vh;
    font-weight: 600;
}


a:hover{
    color: #701D28;
    transition: 200ms linear;
}

.quemsou{
    display: grid;
    grid-template-columns: 1fr 60vw;
    justify-items: center;
    margin-top: 9.2593vh;
    }
    
.quemsou-desc {
    display: grid;
    align-content: center;
    padding: 20px;
    gap: 1.875rem;
    }
    
.texto-quemsou{
    padding-right: 4.375rem;
    font-size: 1.5rem;
    }
    
    
.detalhe {
    display: block;
    width: 50vw;
    height: 0.3704vh;
    background-color: #701D28;   
    box-shadow: 0.625rem 0.625rem 1.25rem 0rem rgba(0, 0, 0, 0.4);
}
    
    
.perfil {
    display: grid;
    justify-items: center;
    gap: 0.6vw;
}
    
.perfil a {
    text-align: center;
    display: grid;
    justify-content: center;
    width: 12vh;
    cursor: pointer;
    padding: 0.625rem 0.9375rem;
    background-color: #701D28;  
    border-radius: 0.5rem; 
    box-shadow: 0.625rem 0.625rem 1.25rem 0rem rgba(0, 0, 0, 0.5);
}
    
.perfil a:hover {
    background-color: #4b161d;
    color: #f4f4f5a9;
}
    
.detalhe2 {
    display: block;
    width: 1.3889vh;
    height: 0.3704vh;
    background-color: #701D28;   
}


.experiencia {
    margin-top: 18.5185vh;
    display: grid;
    margin: 40px;
    grid-template-columns: 50vw 50vw;
    margin-bottom: 18.5185vh;
    justify-content: center;
    justify-items: start;
    align-items: center;
}



.experiencia-container {
    display: grid;
    align-items: center;
    grid-template-columns: 5vh 50vw;
    gap: 1.25rem;
}


.exptext{
    justify-self: center;
    margin-left: 5.5556vh;
    font-size: 180px;
    font-weight: 900;
    line-height: 0.9;
}

.trampo h3{
    font-size: 1.6rem;
}
.trampo h4{
    font-size: 1.3rem;
}

.trampo {
    margin-right: 20vh;
    display: grid;
    align-items: center;
    background-color: #262626;
    padding: 1.875rem;
    border-radius: 0.5rem;
    gap: 1.25rem;
    justify-content: center;
    justify-items: start;
    box-shadow: 0.625rem 0.625rem 1.25rem 0rem rgba(0, 0, 0, 0.55);
}

.span2023 {
    display: grid;
    align-items: center;
}



.link-calc {
    margin: 0px;
    font-size: 10px;
    padding: 11px;
    border-radius: 1.25rem;
    background-color: #00000041;

}

.link-calc:hover{
    color: black;
    transform: 2ms;
    transition: 200ms linear;
    background-color: #929091 ;
}

.formacao{
    display: grid;
    justify-items: center;
    margin-bottom: 300px;
}

.formacao h2{
    font-size: 112px;
    font-weight: 800;
    margin-bottom: 20px;
}

.formacao-container{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    
}

.formacao-container h3{
    font-size: 25px;
    display: grid;
    justify-content: center;
    margin-bottom: 1.8519vh;
}

.curso-container {
    margin-bottom: 30px;
    gap: 2vh;
    display: grid;
    padding: 3vh;
    background-color: #212121;
    width: 24vw;
    height: 17vw;
    border-radius: 2vh;
    box-shadow: 0.625rem 0.625rem 1.25rem 0rem rgba(36, 35, 35, 0.55);
}

.link-certificado{
    padding: 1vh;
    margin: 0px;
    border-radius: 1vh; 
    width: 16vh;
    font-size: 13px;
    background-color: #00000033;
}
.link-certificado:hover{
    color: black;
    transform: 2ms;
    transition: 200ms linear;
    background-color: #929091 ;
}


.idiomas-container .curso-container{
    justify-items: center;
}

.logoidi{
    width: 50px;
}

.contato{
    display: grid;
    grid-template-columns: 1fr 50vw;
    justify-items: center;
    margin-bottom: 12.5rem;
}

.contato img {
    height: 33vw;
    max-width: 100%;
}


.contato form{
    align-items: center;
    justify-content: center;
    height: 34vw;
    display: flex;
    flex-direction: column;
    width: 24vw;
    border-radius: 2.5rem;
    box-shadow: 0.625rem 0.625rem 1.25rem 0rem rgba(0, 0, 0, 0.75);
}

form{
    gap: 0.625rem;
    background-color: #262626;

}
form label{
    color: #f3f3f39a;
    font-size: 1.0625rem;
    margin-bottom: 4px;
}
form input{
    padding: 0.9375rem;
    outline: none;
    border: 0;
    width: 18vw;
    font-size: 0.8vw;
    border-radius: 0.4375rem;
    background-color: #3f3f46
}

form textarea{
    padding: 0.625rem;
    outline: none;
    border: 0;
    width: 18vw;
    font-size: 0.8vw;
    margin-bottom: 1.6vh;
    border-radius: 0.4375rem;
    background-color: #3f3f46;

}

form button{
    margin-bottom: 1.2vw;
    padding: 0.8vw;
    width: 18vw;
    cursor: pointer;
    font-size: 1rem;
    background: transparent;
    border: 0.01vw solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    border-radius: 0.8vw;
}

form button:hover{
    background: #f5f5f5;
    color: #101026;
    
}

footer {
    box-shadow: 0.625rem 0.625rem 1.25rem 0rem rgba(0, 0, 0, 0.75);
    display: grid;
    justify-content: center;
    height: 8vw;
    width: auto;
    align-items: center;
    background-color: #262626;
    opacity: 0.7;
    align-content: center;
    gap: 1.25rem;
}

.footer-redes{
    justify-content: center;
}

.footer-redes li a {
    margin: 0px;
}







@media (max-width: 1440px) {
    .exptext{
        font-size: 110px;
    }

    .curso-container h4 {
        font-size: 1rem;
    }
    .curso-container h5 {
        font-size: 0.9rem;
    }
    .curso-container p {
        font-size: 15px;
    }

    .curso-container {
        height: 27vh;
        
    }
}



@media (max-width: 1024px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #121218;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }

    .perfil img{
        height: 67vw;
    }

    .perfil a {
        font-size: 0.8rem ;
        width: 10vh;
    }
    .quemsou{
        display: grid;
        grid-template-columns: 100vw;
        justify-items: center;
        margin-top: 1vh;
        }

    .quemsou-desc{
        justify-items: center;
        gap: 0.8rem;
    }
    
    .quemsou h2{
        font-size: 7vw;
        justify-self: center;
    }
    .texto-quemsou{
        padding-right: 0;
        font-size: 3vw;
        padding: 20px;
        text-align: center;
        }

    .experiencia{
        grid-template-columns: 100vw;
        justify-items: center;
    }
    .exptext{
        font-size: 12vw;
        gap: 2vw;
        margin-top: 10vw;
        margin-bottom: 20vw;
    }

    .experiencia-container{
        grid-template-columns: 70vw;
        margin: 0px;
    }
    .trampo{
        margin-right: 0vh;
    }

    
    .link-calc {
    font-size: 15px;
    padding: 15px;
    
    }
    .formacao{
        margin-bottom: 90px;
    }
    .formacao h2{
        font-size: 10VW;
    }
    .formacao-container{
        grid-template-columns: 100vw;
    }

    .curso-container{
        width: 65vw;
        height: 30vw;
        
    }

    .curso-container h4 {
        font-size: 1.6rem;
    }
    .curso-container h5 {
        font-size: 1.3rem;
    }
    .curso-container p {
        font-size: 17px;
    }

    .link-certificado{
        padding: 1.4vh;
        width: 23vh;
        font-size: 2vh;
    }
    .contato{
        grid-template-columns: 100vw;
        margin-bottom: 6rem;
    }

    .contato img{
        height: 50vw;
        margin-bottom: 26vw;
    }
    
    .contato form{
        height: 500px;
        width: 70vw;
    }
    form input{
        width: 60vw;
        font-size: 4vw;
    }

    form textarea{
        width: 60vw;
        font-size: 4vw;
    }
    form button{
        padding: 20px;
        margin-bottom: 20px;
        width: 180px;
    }

    form h2{
        margin-top: 1.25rem;
        font-size: 2.5rem;
    }

    footer {
        box-shadow: 0.625rem 0.625rem 1.25rem 0rem rgba(0, 0, 0, 0.75);
        display: grid;
        justify-content: center;
        height: 30vw;
        width: auto;
        align-items: center;
        background-color: #262626;
        opacity: 0.7;
        align-content: center;
        gap: 10px;
    }
  }


  
@media (max-width: 768px) {
    .curso-container{
        width: 65vw;
        height: 70vw;
    }

    .curso-container h4 {
        font-size: 1.2rem;
    }
    .curso-container h5 {
        font-size: 1rem;
    }
    .curso-container p {
        font-size: 15px;
    }
    
}
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }

  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
